html, body {
  max-width: 100%;
}

.container-fluid{
  margin:0 !important;
  padding: 0 !important;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #d2d8db;
  
}

.title, .m-title, .card-title  {
  font-family: 'Roboto Condensed', sans-serif;
  color: #F1F1F1;
}
